footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgb(49, 49, 49);
    display: flex;
    justify-content: space-around;
    padding: 50px;
    h5 {
        margin-bottom: 10px;
    }
    a {
        margin-bottom: 10px;
    }
}