<div class="places-container w-full">
  <h1>Liste des lieux</h1>

  <div *ngFor="let place of placesData" class="place-card">
    <app-row-place
      [place]="place"
      (supprimer)="supprimerPlace($event)"
    ></app-row-place>
  </div>
  <button (click)="ouvrirModal()">Ajouter une Place</button>

  <div *ngIf="showModal" class="modal">
    <div class="modal-content">
      <span class="close" (click)="showModal = false">&times;</span>
      <h2 class="font-bold text-2xl">Ajouter un élément</h2>
      <form [formGroup]="form" (ngSubmit)="ajouterPlace()">
        <label for="nomPlace">Nom de l'élement à ajouter:</label>
        <input
          type="text"
          id="nomPlace"
          name="nomPlace"
          formControlName="namePlace"
          class="border-2 border-black-500"
          required
        />
        <label for="imagePlace">Sélectionner la photo:</label>
        <div>
          <img *ngFor="let image of images" [src]="image" [class.selected]="selectedImage === image" (click)="updateValueImage(image)" class="w-1/6 rounded-lg my-10">
        </div>
        <button type="submit">Ajouter</button>
      </form>
    </div>
  </div>
</div>
