<header
    class="bg-cyan-500 text-white py-4 px-8 flex justify-between items-center">
    <div class="flex items-center">
        <img src="votre_logo.png" alt="Logo" class="h-10 w-auto mr-4" />
        <h1 class="text-lg font-bold">Domodams</h1>
    </div>

    <div class="flex items-center">
        <app-button
            class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded mr-4"
            label="Signaler un problème">
        </app-button>
        <app-button
            class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded"
            label="Accès à l'administrateur">
        </app-button>
    </div>
</header>
