
<div class="timeline flex flex-col justify-center items-center w-full my-10">
    <h2>Timer</h2>
    <input
        type="range"
        class="w-full"
        min="0"
        max="1439"
        [value]="rangeValue"
        (input)="updateTimer($event)" />
    <div>    
    <div class="flex items-center">
        <p class="timeAccelerator mr-5 flex justify-end" (click)="decelearateTime()"><</p>
        <button class="gestioningTime" (click)="substractHalfHour()">- 30 min</button>
        <div class="center-timer flex flex-col items-center">
            <h3 class="mx-10">{{formattedTime(timer)}}</h3>
            <div class="flex items-center">
                <p class="mr-3">Temps x{{accelerationLevel}}</p>
                <i class='bx bx-reset' (click)="resetTimer()" ></i>
            </div>
        </div>
        <button class="gestioningTime" (click)="addHalfHour()">+ 30 min</button>
        <p class="timeAccelerator mr-5 flex justify-start ml-5" (click)="accelerateTime()">
            <ng-container *ngIf="accelerationLevel === 1">></ng-container>
            <ng-container *ngIf="accelerationLevel === 2">>></ng-container>
            <ng-container *ngIf="accelerationLevel === 4">>>></ng-container>
            <ng-container *ngIf="accelerationLevel === 8">>>>></ng-container>

        </p>
    </div>
</div>
