<app-button
    label="Signaler un problème"
    class="px-4 py-2 bg-indigo-500 text-white rounded-md font-semibold"
    (click)="showModal()">
</app-button>

<div class="flex justify-center items-center h-screen absolute" *ngIf="show">
    <div
        class="fixed inset-0 px-2 z-10 overflow-hidden flex items-center justify-center">
        <div
            class="absolute inset-0 bg-gray-500 bg-opacity-75 transition-opacity"></div>
        <div
            class="bg-white rounded-md shadow-xl overflow-hidden max-w-md w-full sm:w-96 md:w-1/2 lg:w-2/3 xl:w-1/3 z-50">
            <div
                class="bg-indigo-500 text-white px-4 py-2 flex justify-between text-center">
                <h2 class="text-lg font-semibold w-full">
                    Signaler un problème
                </h2>
            </div>
            <div class="p-4">
                <form
                    class="w-full max-w-lg opacity-100"
                    [formGroup]="signalementForm"
                    (ngSubmit)="onSubmit()">
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="firstName">
                                Prénom
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="firstName"
                                formControlName="firstName"
                                type="text"
                                placeholder="John" />
                        </div>
                        <div class="w-full md:w-1/2 px-3">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="lastName">
                                Nom
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="lastName"
                                formControlName="lastName"
                                type="text"
                                placeholder="Doe" />
                        </div>
                    </div>
                    <div class="flex flex-wrap -mx-3 mb-6">
                        <div class="w-full px-3">
                            <label
                                class="block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2"
                                for="message">
                                Message
                            </label>
                            <input
                                class="appearance-none block w-full bg-gray-200 text-gray-700 border border-gray-200 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-gray-500"
                                id="message"
                                formControlName="message"
                                type="text"
                                placeholder="Saisissez votre message" />
                        </div>
                    </div>
                    <p class="text-black">
                        Complétez le formulaire afin de pouvoir le soumettre
                    </p>
                    <div class="border-t px-4 py-2 flex justify-end gap-2">
                        <button
                            type="submit"
                            class="px-4 py-2 bg-indigo-500 text-white rounded-md font-semibold"
                            [disabled]="!signalementForm.valid">
                            Soumettre
                        </button>
                        <app-button
                            label="Retour"
                            class="px-4 py-2 bg-gray-500 text-white rounded-md font-semibold"
                            (click)="showModal()">
                        </app-button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
